@charset "UTF-8";
@import "./_import";

/***************************************

header

***************************************/
.h {
	background: $white-color;
	&__container {
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 56px;
		margin: 0 auto;
		max-width: 1440px;
		width: 100%;
	}
}