yarn.lock

###############################################################################
#[ mac ]
###############################################################################
.DS_Store
.Trashes
.tmp

###############################################################################
#[ Windows ]
###############################################################################
Thumb.db
ehthumbs.db
Desktop.ini
*.bak

###############################################################################
#[ Emacs ]
###############################################################################
*~

###############################################################################
#[ Vim ]
###############################################################################
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

###############################################################################
#[ Sublime Text ]
###############################################################################
*.sublime-project
*.sublime-workspace

###############################################################################
#[ JetBrains ]
###############################################################################
.idea
*.iml

###############################################################################
#[ Eclipse ]
###############################################################################
.project
.settings
.classpath

###############################################################################
#[ Sass ]
###############################################################################
.sass-cache
*.rbc
*.sassc

###############################################################################
#[ Heroku ]
###############################################################################
Gemfile.lock

###############################################################################
#[ node ]
###############################################################################
npm-debug.log
node_modules/
bower_components/