- 
  var page = {
    title: "オーダー１-Aテンプレート",
    description: "ディスクリプションが入ります。",
    keywords: "キーワード1,キーワード2,キーワード3",
    url: "https://order1-a.com/",
    apple_touch_icon: "apple-touch-icon.png",
    favicon: "favicon.ico"
  };

  var css = {
    reset: "../css/reset.css",
    style: "../css/style.css",
    noto: "https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap"
  };

  var js = {
    jquery: "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js",
    common: "../js/common.bundle.js",
    top: "../js/top.bundle.js"
  }