/***************************************

About

***************************************/
.about {
  .m {
    padding-top: 140px;

    @include mq {
      padding-top: 164px;
    }
  }
  .about {
    &__header {
      padding-bottom: 96px;

      &_title {
        margin-bottom: 0;
      }
    }
  }

  .about__msg {
    padding: 120px 0;
  }

  .msg {
    &__body {
      display: flex;

      &_img {
        flex: 0 1 426px;
        margin-right: 56px;
      }

      &_dtl {
        flex: 0 1 calc(100% - 482px);
      }

      &_title {
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 32px;
      }

      &_text {
        margin-bottom: 40px;
      }
    }
  }

  &__parallax {
    height: 360px;
    overflow: hidden;
    position: relative;

    &_img {
      position: absolute;
      transform: scale(1.1);
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      width: 100vw;
      // height: 100vh;
      z-index: -1;
    }

    &.is-active {
      .about__parallax_img {
        position: fixed;
        bottom: 0;
      }
    }
  }

  &__company {
    padding: 120px 0;
  }

  .company {
    &__list {
      align-items: center;
      border-bottom: 1px solid $color-gray3;
      display: flex;
      padding: 24px 0;

      &:first-child {
        padding-top: 0;
      }
    }
    &__name {
      font-weight: 600;
      font-size: 15px;
      flex: 0 1 80px;
      margin-right: 90px;
    }
  }

  &__access {
    padding: 120px 0;
  }

  .access {
    &__address {
      margin-top: 48px;
    }
  }

  .address {
    &__inner {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    &__button {
      font-size: 14px;
      margin: 0;
      padding: 4px 12px;
      width: 120px;
    }

    &__title {
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
    }

    &__dtl {
      font-style: normal;
    }
  }

  &__branch {
    padding: 120px 0;
  }

  .branch {
    &__inner {
      display: flex;
      justify-content: space-between;
      flex-wrap:wrap;
    }

    &__card {
      flex: 0 1 48%;
      margin-right: 4%;
      margin-bottom: 40px;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
    }
    &__title {
      font-size: 24px;
      margin-bottom: 56px;
    }

    &__name {
      font-size: 18px;
      font-weight: 600;
    }

    &__map {
      margin-bottom: 16px;
    }

    &__address {
      margin-bottom: 24px;
    }

    &__button {
      font-size: 14px;
      margin-right: 0;
      padding: 4px 12px;
      width: 120px;
    }
  }
}