doctype html
html(lang="ja")
  include _element/_head.pug

  body(class="about")
    .allwrapper
      include _element/_header.pug

      main.m
        section.about__header
          header.container.wrapper
            h1.about__ttl About
              span.about__ttl-ja 会社概要
          
        section.msg
          h2.section__ttl.msg__ttl Message
            span.section__ttl-ja.msg__ttl-ja 代表挨拶
          
          .msg__body
            figure.msg__body_img
              img(src="../image/about_msg.jpg", alt="代表写真")

            h3.msg__body_title 課題を発見し、挑戦し続ける姿勢を大事に
            p.msg__body_text ここには1行推奨30〜35文字のテキストが入ります。ここには1行推奨30〜35文字のテキストが入ります。ここには1行推奨30〜35文字のテキストが入ります。ここには1行推奨30〜35文字のテキストが入ります。ここには1行推奨30〜35文字のテキストが入ります。

            p.msg__body_name 
              span.msg__body_name--position 代表取締役社長
              | 小田　一

    include _element/_footer.pug