doctype html
html(lang="ja")
  include _element/_head.pug

  body.contact
    .allwrapper
      include _element/_header.pug

      main.m
        section.section
          header.section__header
            h1.section__ttl Contact
              span.section__ttl-ja お問い合わせ
            p.section__txt このページからお問合せを受け付けております。
              br
              | 下記必須項目は必ず入力の上、お問合せ下さい。
          .section__body
            form.form(action='contact_complete.html')
              .form__list.form__list--confirm
                //- dl.form__item
                //-   dt.form__label お問い合わせ内容の種類
                //-   dd.form__desc
                //-     p その他
                dl.form__item
                  dt.form__label 貴社名
                  dd.form__desc
                    p 株式会社DEMO Inc.
                dl.form__item
                  dt.form__label お名前
                  dd.form__desc
                    p 山田　太郎
                dl.form__item
                  dt.form__label 電話番号（半角英数記号）
                  dd.form__desc
                    p 00-0000-0000
                dl.form__item
                  dt.form__label メールアドレス（半角英数記号）
                  dd.form__desc
                    p temple@gmail.com
                dl.form__item
                  dt.form__label お問い合わせ内容
                  dd.form__desc
                    p
                      | ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
              .form__btn
                .form__btn-wrapper
                  p.btn
                    input.btn.wpcf7-form-control.wpcf7-submit.wpcf7c-elm-step2(type="submit" value="送信する")
                    <svg class="main_button__icon" xmlns="http://www.w3.org/2000/svg" width="13.76" height="13.017" viewBox="0 0 13.76 13.017"><g id="btn-arrow" transform="translate(-356.49 -30.377)"><path class="main_button__icon_path main_button__icon_path--round" d="M-6121.36,9120.088l5.095,5.1-4.458,4.457-.637.636" transform="translate(6485.515 -9088.297)"></path><path class="main_button__icon_path" path d="M-3241.419,1816.734h9.874" transform="translate(3598.908 -1779.849)"></path></g></svg>
                  p.form__back-btn
                    <svg class="form__back-icon" xmlns="http://www.w3.org/2000/svg" width="13.76" height="13.017" viewBox="0 0 13.76 13.017"><g transform="translate(370.249 43.394) rotate(180)"><path d="M-6121.36,9120.088l5.095,5.1-4.458,4.457-.637.636" transform="translate(6485.515 -9088.297)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><path d="M-3241.419,1816.734h9.874" transform="translate(3598.908 -1779.849)" fill="none" stroke="#333" stroke-linecap="round" stroke-width="2"/></g></svg>
                    input.form__back-input(type='button', value='入力内容を変更する')


    include _element/_footer.pug