footer.f
  .container.f_container
    .f_head
      .f_head__info
        .f_head__logo
          img.f_head__logo_image(src="https://placehold.jp/14/eeeeee/707070/158x64.png?text=LOGO(%E7%94%BB%E5%83%8F)", alt="LOGO(画像)")

        .f_address
          p.f_address__text 〒123-4567　東京都渋谷区渋谷1-1-1オーダービル1F
          a.f_address__link(href="#") Google map

      nav.f_nav
        ul.f_nav__list
          li.f_nav__item
            a.f_nav__link(href="#")
              span.f_nav__text 事業内容
              //- span.f_nav__text--sub sub text
          
          li.f_nav__item
            a.f_nav__link(href="#")
              span.f_nav__text ニュース
              //- span.f_nav__text--sub sub text

          li.f_nav__item
            a.f_nav__link(href="#")
              span.f_nav__text 会社情報
              //- span.f_nav__text--sub sub text

          li.f_nav__item
            a.f_nav__link(href="#")
              span.f_nav__text お問い合わせ
              //- span.f_nav__text--sub sub text

    .f_bottom
      small.f_copy © 2020 株式会社DEMO Inc.  All Rights Reserved.
      p.f_privacy
        a.f_privacy__link(href="privacy.html") プライバシーポリシー