header.h
  div.h__container
    p.h__logo
      img.h__logo_img(src="https://placehold.jp/14/eeeeee/707070/158x64.png?text=LOGO(%E7%94%BB%E5%83%8F)", alt="LOGO(画像)")
    
    nav.h__nav
      ul.h__nav_list
        li.h__nav_item
          a.h__nav_link(href="#") 事業内容
        li.h__nav_item
          a.h__nav_link(href="#") ニュース
        li.h__nav_item
          a.h__nav_link(href="#") 会社概要