header.h.js-sticky
  div.h_container
    p.h_logo
      a.h_logo__link(href="index.html")
        // テキストロゴの場合は<img>タグを削除して入力
        img.h_logo__img(src="../image/logo.jpg", alt="LOGO(画像)")


    button.h_nav__hamburger.sp_show
      span.h_nav__hamburger_icon

    nav.h_nav
      ul.h_nav__list
        li.h_nav__item
          a.h_nav__link(href="index.html#service")
            span.h_nav__text 事業内容
            // span.h_nav__text--sub text
        li.h_nav__item
          a.h_nav__link(href="index.html#news")
            span.h_nav__text ニュース
            // span.h_nav__text--sub text
        li.h_nav__item
          a.h_nav__link(href="about.html")
            span.h_nav__text 会社概要
            // span.h_nav__text--sub text
        li.h_nav__item
          a.h_nav__link(href="contact.html")
            span.h_nav__text  お問い合わせ
            // span.h_nav__text--sub text